page-about {

    .table{

        padding: 10px 10px 10px;
        border: 1px solid #000000;

        font-family:Tahoma, Geneva, sans-serif;
	    font-weight:lighter;
        align-content: center;
    }

    .heading{
        font-weight: bold;
        font-style: bold;
    }

    h1{
        font-size: 40px;
    }

    .form{
        padding-bottom: 50px;
    }

}
